<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span>FIFA World Cup 2018</span>
      <span class="example-spacer"></span>
      <mat-icon class="worldCup"></mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Match">
    <match-tiles></match-tiles>
  </mat-tab>
  <!--<mat-tab label="Preview">Preview</mat-tab>-->
  <mat-tab label="Table"><group-stage-tiles></group-stage-tiles></mat-tab>
</mat-tab-group>


