<!--<mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile colspan="1" rowspan="1" color="lightblue">1</mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" color="lightblue">2</mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1"color="lightblue">3</mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" color="lightblue">4</mat-grid-tile>
</mat-grid-list>-->
<ul class="matches">
  <li class="match">
    <mat-card class="match-card">
      <mat-card-header>
        <mat-card-title>Matchday 1 of 3</mat-card-title>
        <mat-card-subtitle>Group A</mat-card-subtitle>
      </mat-card-header>
      <div class="inline-content">
        <span><div mat-card-avatar class="germany-image"></div> Germany</span>
        <div>vs</div>
        <span><div mat-card-avatar class="brazil-image"></div>Brazil</span>
      </div>

      <mat-card-content>
        <p>
          Thu, 14/06, 8:30 PM
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Watch out</button>
        <!--<mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon>-->
        <!--<button mat-button>Ok</button>-->
      </mat-card-actions>
    </mat-card>
  </li>
  <li class="match">
    <mat-card class="match-card">
      <mat-card-header>
        <mat-card-title>Matchday 1 of 3</mat-card-title>
        <mat-card-subtitle>Group A</mat-card-subtitle>
      </mat-card-header>
      <div class="inline-content">
        <span><div mat-card-avatar class="germany-image"></div> Germany</span>
        <div>vs</div>
        <span><div mat-card-avatar class="brazil-image"></div>Brazil</span>
      </div>

      <mat-card-content>
        <p>
          Thu, 14/06, 8:30 PM
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Watch out</button>
      </mat-card-actions>
    </mat-card>
  </li>
  <li class="match">
    <mat-card class="match-card">
      <mat-card-header>
        <mat-card-title>Matchday 1 of 3</mat-card-title>
        <mat-card-subtitle>Group A</mat-card-subtitle>
      </mat-card-header>
      <div class="inline-content">
        <span><div mat-card-avatar class="germany-image"></div> Germany</span>
        <div>vs</div>
        <span><div mat-card-avatar class="brazil-image"></div>Brazil</span>
      </div>

      <mat-card-content>
        <p>
          Thu, 14/06, 8:30 PM
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Watch out</button>
      </mat-card-actions>
    </mat-card>
  </li>
  <li class="match">
    <mat-card class="match-card">
      <mat-card-header>
        <mat-card-title>Matchday 1 of 3</mat-card-title>
        <mat-card-subtitle>Group A</mat-card-subtitle>
      </mat-card-header>
      <div class="inline-content">
        <span><div mat-card-avatar class="germany-image"></div> Germany</span>
        <div>vs</div>
        <span><div mat-card-avatar class="brazil-image"></div>Brazil</span>
      </div>

      <mat-card-content>
        <p>
          Thu, 14/06, 8:30 PM
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Watch out</button>
      </mat-card-actions>
    </mat-card>
  </li>
  <li class="match">
    <mat-card class="match-card">
      <mat-card-header>
        <mat-card-title>Matchday 1 of 3</mat-card-title>
        <mat-card-subtitle>Group A</mat-card-subtitle>
      </mat-card-header>
      <div class="inline-content">
        <span><div mat-card-avatar class="germany-image"></div> Germany</span>
        <div>vs</div>
        <span><div mat-card-avatar class="brazil-image"></div>Brazil</span>
      </div>

      <mat-card-content>
        <p>
          Thu, 14/06, 8:30 PM
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Watch out</button>
      </mat-card-actions>
    </mat-card>
  </li>
  <li class="match">
    <mat-card class="match-card">
      <mat-card-header>
        <mat-card-title>Matchday 1 of 3</mat-card-title>
        <mat-card-subtitle>Group A</mat-card-subtitle>
      </mat-card-header>
      <div class="inline-content">
        <span><div mat-card-avatar class="germany-image"></div> Germany</span>
        <div>vs</div>
        <span><div mat-card-avatar class="brazil-image"></div>Brazil</span>
      </div>

      <mat-card-content>
        <p>
          Thu, 14/06, 8:30 PM
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Watch out</button>
      </mat-card-actions>
    </mat-card>
  </li>
  <li class="match">
    <mat-card class="match-card">
      <mat-card-header>
        <mat-card-title>Matchday 1 of 3</mat-card-title>
        <mat-card-subtitle>Group A</mat-card-subtitle>
      </mat-card-header>
      <div class="inline-content">
        <span><div mat-card-avatar class="germany-image"></div> Germany</span>
        <div>vs</div>
        <span><div mat-card-avatar class="brazil-image"></div>Brazil</span>
      </div>

      <mat-card-content>
        <p>
          Thu, 14/06, 8:30 PM
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Watch out</button>
      </mat-card-actions>
    </mat-card>
  </li>
  <li class="match">
    <mat-card class="match-card">
      <mat-card-header>
        <mat-card-title>Matchday 1 of 3</mat-card-title>
        <mat-card-subtitle>Group A</mat-card-subtitle>
      </mat-card-header>
      <div class="inline-content">
        <span><div mat-card-avatar class="germany-image"></div> Germany</span>
        <div>vs</div>
        <span><div mat-card-avatar class="brazil-image"></div>Brazil</span>
      </div>

      <mat-card-content>
        <p>
          Thu, 14/06, 8:30 PM
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Watch out</button>
      </mat-card-actions>
    </mat-card>
  </li>
  <li class="match">
    <mat-card class="match-card">
      <mat-card-header>
        <mat-card-title>Matchday 1 of 3</mat-card-title>
        <mat-card-subtitle>Group A</mat-card-subtitle>
      </mat-card-header>
      <div class="inline-content">
        <span><div mat-card-avatar class="germany-image"></div> Germany</span>
        <div>vs</div>
        <span><div mat-card-avatar class="brazil-image"></div>Brazil</span>
      </div>

      <mat-card-content>
        <p>
          Thu, 14/06, 8:30 PM
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Watch out</button>
      </mat-card-actions>
    </mat-card>
  </li>
  <li class="match">
    <mat-card class="match-card">
      <mat-card-header>
        <mat-card-title>Matchday 1 of 3</mat-card-title>
        <mat-card-subtitle>Group A</mat-card-subtitle>
      </mat-card-header>
      <div class="inline-content">
        <span><div mat-card-avatar class="germany-image"></div> Germany</span>
        <div>vs</div>
        <span><div mat-card-avatar class="brazil-image"></div>Brazil</span>
      </div>

      <mat-card-content>
        <p>
          Thu, 14/06, 8:30 PM
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Watch out</button>
      </mat-card-actions>
    </mat-card>
  </li>
</ul>