/* You can add global styles to this file, and also import other style files */

body { margin: 0; }

.mat-tab-labels {
    display: flex;
    justify-content: center;
}

.mat-toolbar-row {
    justify-content: center;
}

.mat-grid-tile {
  height: 30%;
  width: 40%;
}

.match-card {
  max-width: 300px;
  max-height: 250px;
}

.match-card-live {
  max-width: 300px;
  max-height: 250px;
  background-color: lightgreen;
}

.match-card-result {
  max-width: 300px;
  max-height: 250px;
  background-color: grey;
}

.match-card-watch {
  max-width: 300px;
  max-height: 250px;
  background-color: lightblue;
}

.mat-list {
        height: 400px;
}
.mat-list-item {
        height: 400px;
}
table {
  width: 100%;
  height: 100%;
}

.worldCup {
  background-image: url('assets/worldCup.png');
  background-size: cover;
}
.Germany {
  background-image: url('assets/Germany.png');
  background-size: cover;
}

.Brazil {
  background-image: url('assets/Brazil.png');
  background-size: cover;
}

.Argentina {
  background-image: url('assets/Argentina.png');
  background-size: cover;
}

.Australia {
  background-image: url('assets/Australia.png');
  background-size: cover;
}

.Belgium {
  background-image: url('assets/Belgium.png');
  background-size: cover;
}

.Colombia {
  background-image: url('assets/Colombia.png');
  background-size: cover;
}

.Costa {
  background-image: url('assets/Costa.png');
  background-size: cover;
}

.Croatia {
  background-image: url('assets/Croatia.png');
  background-size: cover;
}

.Denmark {
  background-image: url('assets/Denmark.png');
  background-size: cover;
}

.Egypt {
  background-image: url('assets/Egypt.png');
  background-size: cover;
}

.England {
  background-image: url('assets/England.png');
  background-size: cover;
}

.France {
  background-image: url('assets/France.png');
  background-size: cover;
}

.Iceland {
  background-image: url('assets/Iceland.png');
  background-size: cover;
}

.Iran {
  background-image: url('assets/Iran.png');
  background-size: cover;
}

.Japan {
  background-image: url('assets/Japan.png');
  background-size: cover;
}

.Mexico {
  background-image: url('assets/Mexico.png');
  background-size: cover;
}

.Morocco {
  background-image: url('assets/Morocco.png');
  background-size: cover;
}

.Nigeria {
  background-image: url('assets/Nigeria.png');
  background-size: cover;
}

.Panama {
  background-image: url('assets/Panama.png');
  background-size: cover;
}

.Peru {
  background-image: url('assets/Peru.png');
  background-size: cover;
}

.Poland {
  background-image: url('assets/Poland.png');
  background-size: cover;
}

.Portugal {
  background-image: url('assets/Portugal.png');
  background-size: cover;
}

.Russia {
  background-image: url('assets/Russia.png');
  background-size: cover;
}

.Saudi {
  background-image: url('assets/Saudi.png');
  background-size: cover;
}

.Senegal {
  background-image: url('assets/Senegal.png');
  background-size: cover;
}

.Serbia {
  background-image: url('assets/Serbia.png');
  background-size: cover;
}

.South {
  background-image: url('assets/South.png');
  background-size: cover;
}

.Spain {
  background-image: url('assets/Spain.png');
  background-size: cover;
}

.Sweden {
  background-image: url('assets/Sweden.png');
  background-size: cover;
}

.Switzerland {
  background-image: url('assets/Switzerland.png');
  background-size: cover;
}

.Tunisia {
  background-image: url('assets/Tunisia.png');
  background-size: cover;
}

.Uruguay {
  background-image: url('assets/Uruguay.png');
  background-size: cover;
}

.inline-content {
    display: inline-block;
}

ul.matches li {
    width: 300px;
    display: inline-block;
     /*padding-right: 2em;
     padding-bottom: 2em;
     padding-top: 2em;
     padding-left: 2em;*/
    box-sizing: border-box;
    vertical-align: top;
    *display: inline; 
    *zoom: 1;
}

.match{
    position: relative;
}

/*.mat-tab-body-content .ng-trigger .ng-trigger-translateTab {
    justify-content: center;
}*/